html, body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 16px "Microsoft YaHei UI", sans-serif;
    color: #333333;
}

a {
    text-decoration: none;
    color: #333;
}

/*默认样式*/
/*nav*/
.nav {
    width: 100%;
    height: 79px;
    background: #fff;
    position: fixed;
    top: 0;
}

.navContent {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 14px;
}

/*行内元素*/
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.logo a image {
    width: 100%;
    height: 100%;
}

.navList {
    width: 602px;
    height: 100%;
    float: right;
}

.navList li {
    float: left;
    width: 86px;
    height: 100%;
}

.navList li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    transition: color linear .5s;
}

.navList li a:hover {
    color: #16b0dc;
}

/*main*/
.main {
    width: 100%;
    height: 2198px;
    margin-top: 30px;
    padding: 30px 0;
    background: #f2f2f2;
    border-top: 1px solid #f0f2f5;
}
.main .mainHead{
    width: 100%;
    height: 120px;
    display: flex;
}
.mainHead h1{
    width: 100%;
    height:42px;
    line-height: 42px;
    margin-top: 39px;
    text-align: center;
    color: #F67A82;
    font-size: 35px;
    font-weight: 400;
}
.main .mainContent{
    width: 100%;
    height: 2017px;
    border-top: 1px solid #f0f2f5;
    padding: 30px 0;
}
.mainContent .container{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.container .containerLeft{
    width: 817px;
    height: 1957px;
    padding: 30px;
    float: left;
    background: #fff;
}
.containerLeft .itemList{
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #f0f2f5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.containerLeft .containerImg{
    width: 160px;
    height: 160px;
    padding-right: 20px;
    float: left;
}
.containerImg img{
    width: 160px;
    height: 160px;
}
.itemList .containerContent , .itemList0 .containerContent{
    width: 263px;
    height: 100%;
    margin-bottom: 15px;
    float: right;
    background: #fff;
}
.containerContent .itemFont{
    width: 637px;
    height: 100%;
    float: right;
    color: #76838f;
    font-size: 16px;
}
.itemFont h2{
    margin-bottom: 16px;
}
.itemFont h2 a{
    font-weight: 400;
    font-size: 22px;
    color: #2a333c;
    transition: all ease .5s;
}
.itemFont h2 a:hover{
    color: #62a8ea;
    text-decoration: underline;
}
.itemFont p.itemContent{
    height: 96px;
}
.itemFont .itemOther{
    color: #a3afb7;
    font-size: 16px;
}

.containerLeft .itemList0{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #f0f2f5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.itemFont p.itemContent0{
    height: 130px;
}

.itemFont p.itemContent1{
    height: 58px;
}
.containerLeft .itemButton{
    width: 281px;
    height: 39px;
    margin: 0 auto;
    display: flex;
}
.itemButton .buttonLast , .buttonNext{
    border: 1px solid #e4eaec;
    padding: 9px 15px;
    background: #fff;
    color: #ccd5db;
}
.itemButton .number1{
    background: #f86867;
    padding: 9px 15px;
    border-color: #f86867;
    color: #fff;
}
.itemButton .number{
    border: 1px solid #e4eaec;
    border-right: none;
    background: #fff;
    padding: 9px 15px;
    color: #76838f;
}
.number:hover , .buttonNext:hover{
    background: #e4eaec;
}
.container .containerRight{
    width: 263px;
    height: 354px;
    margin-bottom: 15px;
    float: right;
    background: #fff;
}
.containerRight .rightContent{
    width: 223px;
    height: 314px;
    margin: 20px;
}
.rightContent input{
    width: 223px;
    height: 36px;
    background: transparent;
    border: 1px solid #e4eaec;
    border-radius: 30px;
}
.rightContent a i{
    margin-top: -28px;
    margin-right: 10px;
    float: right;
}
.containerRight .recommend{
    height: 161px;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #f0f2f5;
    border-bottom: 1px solid #f0f2f5;
}
.recommend h3{
    font-size: 18px;
    font-weight: 300;
}
.recommend .listGroup{
    height: 130px;
    margin-top: 10px;
}
.listGroup .listItem{
    width: 191px;
    height: 22px;
    padding: 10px 15px;
    margin-bottom: -1px;
    background: #fff;
    border: 1px solid #e4eaec;
}
.itemList:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.itemList:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.listItem a{
    color: #2a333c;
    font-size: 15px;
}
.listItem a:hover{
    color: #62a8ea;
    text-decoration: underline;
}
h4 {
    font-size: 16px;
    color: #2a333c;
    font-weight: 300;
    margin-top: 50px;
}
h4 a:hover{
    color: #62a8ea;
    text-decoration: underline;
    margin-top: 50px;
}


/*footer*/
.footer{
    width: 100%;
    height:200px;
    background: #f5f5f5;
    color: #aaaaaa;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}
.footerTop{
    border-top: 1px solid #f0f2f5;
    height: 20px;
    background: white;
}
.footerContent{
    width: 1170px;
    height: 180px;
    margin: 0 auto;
}
.footerSocial .footerImg{
    height: 30px;
}
.footerSocial img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
.footerSocial a{
    display: inline-block;
    color: #16b0dc;
}
.footerSocial a:hover{
    color: #16b0dc;
    text-decoration: underline;
}
.footerSocial .footerNum{
    height: 30%;
    margin-top: 20px;
    line-height: 25px;
}